<h1>My list of books</h1>
<section class="books">
  <aside><img src="http://ecx.images-amazon.com/images/I/41gtODXuRlL._SX385_.jpg" width="100" height="100"></aside>
  <article><h1>article 1</h1> fnwlefgnewlfgnwel</article>
 </section>

 <section class="books">
  <aside><img src="http://ecx.images-amazon.com/images/I/41gtODXuRlL._SX385_.jpg" width="100" height="100"></aside>
  <article>article 2</article>
 </section>
