section article {
	margin-bottom: 6em;

	header {
		p {
			color: #343434;
			font-size: 0.9em;
			margin-bottom: 2em;

			a {
				color: #343434;
				border: 0;
			}
		}
	}

	ul, ol {
		margin: 0 0 2em 0.5em;

		li {
			margin-left: 1em;
		}
	}

	ul li {
		list-style: disc;
	}

	ol li {
		list-style: decimal;
	}

	ol li ol li {
		list-style: lower-alpha;
	}

	img {
		max-width: 100%;
	}
}
