// Colors

$link-color: #66a1b4;
$background-color: #f7f7f7;
$text-color: #343434;
$highlight-color: #343434;
$red-color: #f6291d;
$code-background-color: #f8f8ff;
$code-border-color: #dedede;
$gray-color: #343434;
$black-color: #000000;

$width: 640px;

$monaco: Monaco, Courier, monospace;

$small-query: "all and (max-width: 660px)";
$iphone-query: "all and (max-width: 480px";
$retina-query: "only screen and (-webkit-min-device-pixel-ratio: 1 .5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)";
